:root {
  --primary-color: #4D4861;
  --secondary-color: #605770;
  --accent-color: #9E7682;
  --background-color: #EDCB96;
}

html, body {
    background: var(--accent-color);
    height: 100%;
    margin: 0;
}
canvas {
  display: block; /* Remove any default spacing */
}